body {
  background-color: #f2f2f2;
  font-family: 'Satoshi', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 4.5rem;
}

.navbar {
  background-color: #591506;
  color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4.5rem;
  max-height: 4.5rem;
  padding: 0 2.4rem;
}

.nav-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
}

.logo {
  height: 3rem;
  margin-right: 0.75rem;
}
