body {
  background-color: #f2f2f2;
  font-family: 'Ranade', sans-serif;
  font-size: 62.5%;
  font-size: 1rem;
  box-sizing: border-box;
}

.page-container {
  max-width: 1200px;
  margin: 2.4rem auto;
  padding: 0 2.4rem;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.nav-links a {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  padding: 2.4rem 0.6rem;
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent;
}


.nav-links a:hover {
  border-bottom: 2px solid black;
  color: #333;
}

.logo {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0 2.4rem;
}
