body {
  background-color: #f2f2f2;
  font-family: 'Satoshi', sans-serif;
  font-weight: 600;
  font-size: 62.5%;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 6.1rem;
}

.navbar {
  background-color: #101010;
  color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 6.1rem;
  max-height: 6.1rem;
}

.nav-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 900px;
}


.logo {
  height: 6.1rem;
  margin: 0 2.4rem;
}
